{% extends "choose_plot.html" %}
{% block display %}
{% if name %}
<section id=plot>
  {{ js_resources|indent(4)|safe }}
  {{ css_resources|indent(4)|safe }}
  {{ plot_script|indent(4)|safe }}
  {{ plot_div|indent(4)|safe }}
</section>
{% endif %}
<section>
  <div class="well well-sm">
    <form action="" method=post enctype=multipart/form-data>
      <table style="width:100%">
        <tr>
          <label for=firstCol>
            <td>
              <h5>Y Axis</h5>
            </td>
            {% for col in columns %}
            {% if loop.first %}
            <td>
              <input type=radio id=firstCol name=firstCol value={{col}} checked> {{col}}
            </td>
            {% else %}
            <td>
              <input type=radio id=firstCol name=firstCol value={{col}}> {{col}}
            </td>
            {% endif %}
            {% endfor %}
          </label>
        </tr>
      </table>
      <input type=submit name=columns value=Submit>
    </form>
  </div>
</section><!-- A simple form for changing the graph -->
{% endblock %}
