{% extends "layout.html" %}
{% block body %}
<h2>Plot Options</h2>
<form action="" method=post enctype=multipart/form-data>
  <h3> Normalization: <h3>
  <input type=radio name=normalized value=True  checked>True<br>
  <input type=radio name=normalized value=False>False
  <h3> Simple Options: <h3>
  {% for simple in simpleOptions %}
  <input type=submit name=option value={{ simple }}>
  {% endfor %}
  <h3> Complex Options: <h3>
  {% for complex in complexOptions %}
  <input type=submit name=option value={{ complex }}>
  {% endfor %}
</form>
{% endblock %}
