{% extends "choose_plot.html" %}
{% block display %}
<section>
  {% include 'bokeh.html' %}
  <div class="row">
    <form action="" method=post enctype=multipart/form-data class="col-lg-6">
      <input type="hidden" name="previous" value="previous">
      <button class="btn btn-success pull-left" type="submit">Previous</button>
    </form>
    <form action="" method=post enctype=multipart/form-data class="col-lg-6">
      <input type="hidden" name="next" value="next">
      <button class="btn btn-success push-right" type="submit">Next</button>
    </div>
  </form>
  {{ plot_script|indent(4)|safe }}
  <!-- A simple form for changing the graph -->
  {{ plot_div|indent(4)|safe }}
</section>
{% endblock %}
